[Unit]
Description=Netvirt Agent
After=network.target

[Service]
Environment="HOME=/root"
ExecStart=/usr/bin/netvirt-agent2
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
