[Unit]
Description=Netvirt Agent
After=network.target

[Service]
Environment="HOME=/root"
EnvironmentFile=-/etc/conf.d/netvirt-agent
ExecStart=/usr/bin/netvirt-agent2 -c ${NETVIRT_NETWORK_NAME}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
