#!/sbin/openrc-run
# Copyright 1999-2019 Gentoo Authors
# Distributed under the terms of the GNU General Public License v2
# $Id$

description="start a daemon to maintain a DynVPN connection"

command="netvirt-agent2 -c ${NETVIRT_NETWORK_NAME}"
command_background="true"
pidfile="/var/run/${SVCNAME}.pid"

depend() {
	use net
}
